.deepdark
{
	background:	#59590c;
	color:		#ffffff;
}
.dark
{
	background:	#59590c;
	color:		#ffffff;
}
.medium
{
	background:	#ffffea;
	color:		#000000;
}
.light
{
	background:	#ffffff;
	color:		#aaaaaa;
}