.deepdark
{
	background:	#990c0c;
	color:		#ffffff;
}
.dark
{
	background:	#bb0c0c;
	color:		#ffffff;
}
.medium
{
	background:	#f2eaea;
	color:		#000000;
}
.light
{
	background:	#ffffff;
	color:		#aaaaaa;
}